@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(18, 18, 18, 1);
  scroll-behavior: smooth;
}
 li, a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(18, 18, 18, 1);
  border-bottom: 3px solid #D4B871;  
  z-index: 1000;
}

.logo{
    object-fit:cover;
    cursor: pointer;
    padding-right: 40px;
    margin-left: -55px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 16px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #D4B871;
}
.nav-links li a:active{
  color: #f4c756;

}

/*.video-footage{
  padding-bottom: 100px;
}*/

.video-footage {
  width: 100;
  transform: scale(1,1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-footage .hero-video{
  width: 100%;
}


.Our-History img{
  width: 100%;
  height: fit-content;
}


/*Services section*/
.Services{
  background-image: url('images/Group.png');
  background-color: #fff;
  padding: 20px 10%;
  justify-content: center;
  max-height: 1080px;
  width: 100%;
}

.Services-items{
  background-color: #d4b87100;
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  margin-left: -70px;
  flex-grow: 8;
  
}

.Services .vector{
  width: 10%;
  height: 98.5px;
  background-color: #d4b87100;
}
.Services-items h2{
  font-family: "Oswald";
  text-transform: uppercase;
  color: rgba(18, 18, 18, 1);
  font-size: 70px;
  align-self: center;
  background-color: #d4b87100;
  margin-left: -10px;
}

.Services-description {
  background-color: #d4b87100;
  width: fit-content;
  padding: 20px;
}

.Services-description p{
  background-color: #d4b87100;
  color: rgba(18, 18, 18, 1);
  font-family: Calibri;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding: 0px;
  margin-left: 70px;
}

.services-wrapper{
  background: transparent;
  max-width: 100%;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
  margin-top: 50px;
  cursor: pointer;
  overflow: hidden;

}

.services-wrapper .services-carousel{
  background: transparent;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.services-carousel::-webkit-scrollbar {
  display: none;
}

.services-carousel :where(.services-card, .services-img){
  display: flex;
  align-items: center;
  justify-content: center;
}



.services-carousel.no-transition {
  scroll-behavior: auto;
}

.services-carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.services-carousel.dragging .services-card{
  cursor: grab;
  user-select: none;
}
.services-carousel .services-card{
  scroll-snap-align: start;
  list-style: none;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  
}

.services-card .services-img{
  background: transparent;
}
.services-card .services-img img{
  background: transparent;
  width:  422.53px;
  height: auto;
  object-fit: cover; 
}

@media screen and (max-width: 900px){
  .services-wrapper .services-carousel {
    grid-auto-columns: calc((100% / 3) - 12px);
   
    
  }
}

@media screen and (max-width: 600px){
  .services-wrapper .services-carousel {
    grid-auto-columns: 100px;
   
  }
}


/*Testimonials*/
.Testimonials{
  background-image: url('images/Group.png');
  background-color: #fff;
  padding: 20px 10%;
  justify-content: center;
  max-height: 1080px;
  width: 100%;
}

.Testimonials-items{
  background-color: #d4b87100;
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  margin-left: -70px;
  flex-grow: 8;
}

.Testimonials-items .vector{
  width: 10%;
  height: 98.5px;
  background-color: #d4b87100;
}

.Testimonials-items h2{
  font-family: "Oswald";
  text-transform: uppercase;
  color: rgba(18, 18, 18, 1);
  font-size: 70px;
  align-self: center;
  background-color: #d4b87100;
  margin-left: -10px;
}

.Testimonials-description {
  background-color: #d4b87100;
  width: fit-content;
  padding: auto;
  text-align: center;
}

.Testimonials-description p{
  background-color: #d4b87100;
  color: rgba(18, 18, 18, 1);
  font-family: Calibri;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  margin-left: 80px;
  text-align: center;
  padding-top: 40px;
}

.testimonial-wrapper{
  display: flex;
  background: transparent;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
  margin-top: 50px;
  cursor: pointer;
  overflow: hidden;

}

.testimonial-wrapper .testimonial-carousel{
  background: transparent;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 8rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.testimonial-carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-carousel :where(.testimonial-card, .testimonial-img){
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-carousel.no-transition {
  scroll-behavior: auto;
}

.testimonial-carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.testimonial-carousel.dragging .testimonial-card{
  cursor: grab;
  user-select: none;
}
.testimonial-carousel .testimonial-card{
    scroll-snap-align: start;
    width: 500px;
    height: 582px;
    list-style: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom : 15px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 30.09px;
    border-color: rgba(128, 128, 128, 0.209);
  
}

.testimonial-card .testimonial-img{
  background: transparent;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.testimonial-card .testimonial-img img{
  background: transparent;
  width:  188.96px;
  height: 188.96px;
  align-items: center;
  object-fit: cover; 
  border-radius: 50%;
  border: solid;
  border-color:  rgba(128, 128, 128, 0.209);
}
.testimonial-card .vector1{
  background: transparent;
  size: 20px;
  
}

.testimonial-card span{
  font-family:  Calibri;
  font-size: 18px;
  text-transform: capitalize;
  background: transparent;
  color: black;
  text-align: center;
  line-height: 25.2px;
  padding: 40px;
}

@media screen and (max-width: 900px){
  .testimonial-wrapper .testimonial-carousel {
     grid-auto-columns: calc((100% / 2) - 12px);  
  }
}

@media screen and (max-width: 600px){
  .testimonial-wrapper .testimonial-carousel {
    grid-auto-columns: 100px; 
  }
}

/*Our-partners-section*/

.Our-partners{
  background-image: url('images/Group.png');
  background-color: #fff;
  padding: 20px 10%;
  justify-content: center;
  height: max-content;
  width: 100%;
}
.Our-partners-items{
  background-color: #d4b87100;
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  margin-left: -70px;
  flex-grow: 8;
  
}

.Our-partners-items .vector{
  width: 10%;
  height: 98.5px;
  background-color: #d4b87100;
}

.Our-partners-items h2{
  font-family: "Oswald";
  text-transform: uppercase;
  color: rgba(18, 18, 18, 1);
  font-size: 70px;
  align-self: center;
  background-color: #d4b87100;
  margin-left: -10px;
}

.Our-partners-description {
  background-color: #d4b87100;
  width: fit-content;
  padding: 20px;
}

.Our-partners-description p{
  background-color: #d4b87100;
  color: rgba(18, 18, 18, 1);
  font-family: Calibri;
  font-size: 30px;
  font-weight: 400;
  line-height: 44.8px;
  text-align: left;
  padding: 45px;
}

.wrapper{
  background: transparent;
  max-width: 1517px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  margin-top: 150px;

}

.wrapper i {
  height: 50px;
  width: 50px;
  background :#D4B871 ;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
}
.wrapper i:first-child{
  left: -130px;
}

.wrapper i:last-child{
  right: -130px;
}

.wrapper .carousel{
  background: transparent;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel :where(.card, .img){
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}

.carousel .card{
  scroll-snap-align: start;
  list-style: none;
  height: 342px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  
}
.card .img{
  background: transparent;
}
.card .img img{
  background: transparent;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
  border-color: #D4B871;
  transition: 0.5ms;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4) - 12px);
  }
}

@media screen and (max-width: 600px){
  .wrapper .carousel {
    grid-auto-columns: 100px;
  }
}
/*About Us Section*/
.About-Us{
  background-image: url('images/Frame 39944.png');
  padding: 10px 10%;
  justify-content: center;
  max-height: 1080px;
  width: 100%;
}

.About-Us-items{
  background-color: #d4b87100;
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  margin-left: -70px;
  flex-grow: 8;
}


.About-Us-items .vector{
  width: 10%;
  height: 98.5px;
  background-color: #d4b87100;
}

.About-Us-items h2{
  font-family: "Oswald";
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  align-self: center;
  background-color: #d4b87100;
  margin-left: -10px;
}

.About-Us-description {
  background-color: #d4b87100;
  width: fit-content;
  padding: 20px;
}
.About-Us-description p{
  background-color: #d4b87100;
  color: #fff;
  font-family: Calibri;
  font-size: 22px;
  font-weight: 300;
  line-height: 36.8px;
  text-align: left;
  padding: 20px;
  text-align: justify;
}

.About-Us-logo{
  background-color: #d4b87100;
  background: transparent;
  margin-bottom: 50px;
}

.About-Us-logo img{
  background: transparent;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}



/*footer section*/
.footer {
  background-image: url('images/footerbg.png');
  padding: 10px 10%;
  border-bottom: 26px solid #D4B871;
  justify-content: center;
  height: auto;
  width: 100%;
}

.container{
  display: flex;
  background-color: #d4b87100;
}

.Contact-Us-items{
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  margin-left: -70px;
  flex-grow: 8;
  background-color: #d4b87100;
}
.Contact-Us-items .vector{
  width: 10%;
  height: 98.5px;
  background-color: #d4b87100;
}
.Contact-Us-items h2{
  font-family: "Oswald";
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  align-self: center;
  background-color: #d4b87100;
  margin-left: -10px;
}

.sub-footer{
  display: flex;
  gap: 12rem;
  background-color: #d4b87100;
  margin-bottom: 100px;
  align-items:center;
  justify-content: center;
  margin-top: 20px;
  
}
.Address-items{
  width: max-content;
  height: max-content;
  background-color: #d4b87100;
  
}

.Address-items .headings{
  font-family:"Gilroy-Bold", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #d4b87100;
  margin-bottom: 20px;
}

.Address-items .Liner{
  font-family:"Gilroy-Light", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  background-color: #d4b87100;
  width: 380px;
  margin-bottom: 30px;
}

.Address-items .Phone-No{
  font-family:"Gilroy-Bold", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #d4b87100;
  margin-bottom: 20px;
  margin-top: 85px;
}

.Phone-No-items{
  font-family:"Gilroy-Light", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #fff;
  background-color: #d4b87100;
  width: 380px;
  margin-bottom: 30px;
}
.Maps{
  width: max-content;
  height: max-content;
  background-color: #d4b87100;
  
}

.Maps .headings{
  font-family:"Gilroy-Bold", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: #fff;
  background-color: #d4b87100;
  margin-bottom: 30px;
}

.Maps .Maps-items{
  background-color:#d4b87100;
}

.social-links {
  width: max-content;
  display: flex;
  row-gap: 1.5rem;
  height: max-content;
  background-color:#d4b87100;
  flex-direction: column;
  align-items: center;
}

.social-links .headings {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color:#d4b87100;
  
  width: max-content;
}
.social-links a{
  background-color: #d4b87100;
}

.social-links .social-logo {
  background-color:#d4b87100;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.5s;
  margin-bottom: 20px; 
}

.social-links .social-logo:hover {
  opacity: 0.5;
}
